.hero{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("https://occ-0-7118-778.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABVF03jmWlfSDYxmdKgDUqSMV6QPj5UJqf6vZ6Y4qD6VktlmDz76v58YuasZZpF6dvL7wVue-SrW1UoEt8QNQXymzXaWLWYoOQ5XX.jpg?r=9b9");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    text-align: center;
    padding: 10rem 0;
}

.hero h1 {
    font-size: 4rem;
    margin: 0;
    line-height: 1.2;
}

.hero p {
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
}

.btn_primary {
    display: inline-block;
    background-color: #ff2d55;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.btn_primary:hover {
    background-color: #e60039;
}