.discografia{
    padding: 5rem 0;
}

.grilla {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
}

@media only screen and (max-width: 768px) {

    .grilla {
        margin: 2rem 0;
        flex-direction: column;
    }
}