.header_container{
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header_container nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}

.header_container nav img {
  height: 4rem;
}

.header_container nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}
.header_container nav ul li{
  margin-right: 1.5rem;
}
.header_container nav ul li:last-child{
  margin-right: 0;
}

.header_container nav ul li {
  color: #444;
  text-decoration: none;
  transition: color 0.2s ease;
}

.header_container ul li:hover {
  cursor: pointer;
  color: #111;
}